
<div id="segment-breadcrumb" class="segment">  <!-- segment-breadcrumb -->
    <div class="container">  <!-- container -->
        <ul class="breadcrumb">
            <li title="QI-Core Implementation Guide"><strong>QUICK Pages</strong></li>
        </ul>
    </div>  <!-- /container -->
</div>  <!-- /segment-breadcrumb -->

<div id="segment-content" class="segment">  <!-- segment-content -->
    <div class="container">  <!-- container -->
      
<!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
