<tr>
    <td>See the <a href="patterns.html">patterns</a> page for implementation and usage patterns.</td>
</tr>

<code>
    define "Has Criteria Indicating Frailty":
        exists ( [DeviceRequest: "Frailty Device"] FrailtyDeviceOrder
                        where FrailtyDeviceOrder.authordOn during day of "Measurment Period"
        )
                or exists ( [DeviceUseStatement: "Frailty Device"] FrailtyDeviceUse
                                where FrailtyDeviceUse.timing as Period overlaps "Measurment Period"
                    or FrailtyDeviceUse.timing as dateTime during day of "Measurement Period"
                )
                or exists ( [Condition: "Frailty Diagnosis"] FrailtyDiagnosis
                                where FrailtyDiagnosis.onset as Period overlaps "Measurement Period"
                    or FrailtyDiagnosis.onset as dateTime during day of "Measurement Period"
                )
                or exists ( [Encounter: "Frailty Encounter"] FrailtyEncounter
                                where FrailtyEncounter.period overlaps "Measurement Period"
                )
                or exists ( [Observation: "Frailty Symptom"] FrailtySymptomObservation
                                where FrailtySymptomObservation.effective as Period overlaps "Measurement Period"
                    or FrailtySymptomObservation as dateTime during day of "Measurement Period"
                )
</code>