<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Profiles
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
    <li><a href="profiles.html" class="item">QI-Core Profiles</a></li>
      <li><a href="qi-elements.html" class="item">QI Elements</a></li>
    </ul>
  </li>
  <li><a href="negation.html" class="item">QI-Core Negation</a></li>
  <li><a href="patterns.html" class="item">Patterns</a></li>
  <li><a href="modelinfo.html" class="item">Model Info</a></li>
  <li><a href="extensions.html" class="item">Extensions</a></li>
  <li><a href="terminology.html" class="item">Terminology</a></li>
  <li><a href="examples.html" class="item">Examples</a></li>
  <li><a href="downloads.html" class="item">Downloads</a></li>
  <li><a href="qdm-to-qicore.html" class="item">QDM to QI-Core</a></li>
  <li><a href="changes.html" class="item">Changes</a></li>
  
</ul>
